nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li button {
  display: block;
  background-color: transparent;
  border: 0;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li button:hover {
  background-color: #111111;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.dropdownContent {
  display: none;
  position: absolute;
  margin-top: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}